* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #1f4037, #f12711);
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: rgba(0,0,0,0.3);
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.hero {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 48px;
}

button {
    padding: 12px 25px;
    border: none;
    background: orange;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.products {
    padding: 50px 20px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: blur(8px);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: rgba(255,255,255,0.2);
}

.contact {
    padding: 40px;
    text-align: center;
}

.contact a {
    color: yellow;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.4);
}

@media(max-width:768px){
    .hero h2{
        font-size:30px;
    }
}